@font-face {
  font-family: 'Nanum Brush Script';
  font-style: normal;
  font-weight: 400;
  src: local('Nanum Brush Script'), local('NanumBrush'), url(http://fonts.gstatic.com/s/nanumbrushscript/v8/wXK2E2wfpokopxzthSqPbcR5_gVaxazCiaps.woff) format('woff');
}
