@font-face {
  font-family: 'Nanum Myeongjo';
  font-style: normal;
  font-weight: 400;
  src: local('NanumMyeongjo'), url(http://fonts.gstatic.com/s/nanummyeongjo/v6/9Btx3DZF0dXLMZlywRbVRNhxy2LscnM.woff) format('woff');
}
@font-face {
  font-family: 'Nanum Myeongjo';
  font-style: normal;
  font-weight: 700;
  src: local('NanumMyeongjo Bold'), local('NanumMyeongjoBold'), url(http://fonts.gstatic.com/s/nanummyeongjo/v6/9Bty3DZF0dXLMZlywRbVRNhxy2pXV2Azr_c.woff) format('woff');
}
@font-face {
  font-family: 'Nanum Myeongjo';
  font-style: normal;
  font-weight: 800;
  src: local('NanumMyeongjo ExtraBold'), local('NanumMyeongjoExtraBold'), url(http://fonts.gstatic.com/s/nanummyeongjo/v6/9Bty3DZF0dXLMZlywRbVRNhxy2pLVGAzr_c.woff) format('woff');
}
