@font-face {
  font-family: 'Nanum Pen Script';
  font-style: normal;
  font-weight: 400;
  src: local('Nanum Pen'), local('NanumPen'), url(http://fonts.gstatic.com/s/nanumpenscript/v6/daaDSSYiLGqEal3MvdA_FOL_3FkN6zn0bw.woff) format('woff');
}
