<!-- START HEADER -->
<div class="header ">
  <!-- START MOBILE SIDEBAR TOGGLE -->
  <a href="#" class="btn-link toggle-sidebar hidden-lg-up pg pg-menu" data-toggle="sidebar">
  </a>
  <!-- END MOBILE SIDEBAR TOGGLE -->
  <div class="">
    <div class="brand inline   ">
      <img src="/src/images/sm_ci/ci_logo_default.png" alt="logo" class="ci_logo" data-src="/src/images/sm_ci/ci_logo_default.png" data-src-retina="/src/images/sm_ci/ci_logo_default.png" height="36">
    </div>
  </div>
  <div class="d-flex align-items-center">
    <!-- START User Info-->
    <div class="pull-left p-r-10 fs-14 font-heading hidden-md-down">
      <span class="" id="serverStatusInfo"></span>
      <span class="semi-bold" id="loginUserInfo"></span>
    </div>
    <div class="dropdown pull-right hidden-md-down">
      <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="thumbnail-wrapper d32 circular inline">
        <img src="/src/assets/kendo/img/profiles/Blank-profile.png" alt="" data-src="/src/assets/kendo/img/profiles/Blank-profile.png" data-src-retina="/src/assets/kendo/img/profiles/Blank-profile.png" height="42">
        </span>
      </button>
      <div class="dropdown-menu dropdown-menu-right profile-dropdown" role="menu">
        <a href="javascript:AIV_USER.updateUserInfo();" class="dropdown-item"><i class="pg-settings_small"></i> 개인설정</a>
        <!-- 
          <a href="#" class="dropdown-item"><i class="pg-outdent"></i> 작업이력</a>
        -->
        <a href="#" class="clearfix bg-master-lighter dropdown-item" onClick="javascript:AIV_USER.logout();">
          <span class="pull-left">Logout</span>
          <span class="pull-right"><i class="pg-power"></i></span>
        </a>
      </div>
    </div>
    <!-- END User Info-->

    <!-- 우측 슬라이드 QUICKVIEW 호출버튼 -->
    <!-- <a href="#" class="header-icon pg pg-alt_menu btn-link m-l-10 sm-no-margin d-inline-block" data-toggle="quickview" data-toggle-element="#quickview"></a> -->
  </div>
</div>
<!-- END HEADER -->