#page_footer { display: none; }

/* .k-upload-files.k-reset { display: inline-block;} */
li.k-file { border-width: 0px; }
.k-button.k-upload-action { min-width: 16px !important; border-radius: 20%; }
.k-widget.k-upload.k-header.k-upload-sync {border-width: 0px;}
tr.k-state-selected .k-widget.k-upload.k-header.k-upload-sync {background-color: #00b0ff;}
.k-upload-files.k-reset {margin-top: 4px;}


/* table.table input {width: 100%;} */


/* S : 허준범 추가 */
#MAIN-CONTENT {
  padding: 0 20px;
}
.main-wrapper {
  height: auto;
  background-color: #f5f9fc;
}
/* TITLE */
/* .card-title.title-bar {
  padding-left: 5px !important;
  border-left: solid 5px #45555f;
  color: #45555f !important;
} */
/* MAIN CARD */
.card {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  margin-bottom: 3rem;
  box-shadow: 0 0 0.875rem 0 rgba(53,64,82,.05);
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid transparent;
  border-radius: .25rem
}
.card .card-header:first-child {
  border-radius: .25rem .25rem 0 0;
}
.card .card-header {
  /* padding: .55rem 1.25rem; */
  padding: 1.25rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 0 solid transparent;
  border-bottom-width: 1px;
  line-height: 1;
}
.card .card-header .card-title {
  padding-left: 5px;
  border-left: solid 5px #45555f;
  color: #45555f;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -0.085em;
}
.card .card-body {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  padding: 1rem 1.25rem;
}
.card .card-body.fixed {
  min-height: 267px
}

.card.main-board {}
.card.main-board .card-header {
}
.card.main-board .card-header .more {
  display: block;
  position: absolute;
  right: 1.25rem;
  top: 50%;
  padding: .2rem .5rem;
  background-color: #65c9ed;
  border-radius: 25px;
  color: #fff;
  font-size: 1.2rem;
  opacity: 1;
  transform: translate(0,-50%);
  -webkit-ransform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
}
.card.main-board .card-body {
  min-height: 109px;
  padding-top: 0;
}
.card.main-board .card-body ul,
.card.main-board .card-body ul li{
  margin: 0;
  padding: 0;
  list-style: none;
}
.card.main-board .card-body ul li a,
.card.main-board .card-body ul li a span {
  display: block;
}
.card.main-board .card-body ul li a {
  position: relative;
}
.card.main-board .card-body ul li a span {
  color: #202020;
}
.card.main-board .card-body ul li a span:first-child {
  width: 100%;
  padding-right: 85px;
  text-overflow:ellipsis;
  white-space:nowrap;
  word-wrap:normal;
  overflow:hidden;
}
.card.main-board .card-body ul li a span.date {
  position: absolute;
  top: 50%;
  right: 0;
  width: 85px;
  text-align: right;
  transform: translate(0,-50%);
  -webkit-ransform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
}
.card.main-board .card-body ul li a:hover span {
  color: #4c98e0;
  text-decoration: underline;
}

/* MAIN TOP VISUAL */
.top-wrapper {
  margin: 0 -20px;
}
.top-wrapper .top-banner {
  display: table;
  width: 100%;
  height: 174px;
  margin-bottom: 2.5rem;
  padding: 0 0 30px 20px;
  background-image: url('../images/common/banner_main2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.top-wrapper .top-banner span {
  display: table-cell;
  height: 100%;
  font-size: 2.2em;
  color: #fff;
  letter-spacing: -0.085em;
  vertical-align: bottom;
}

/* MAIN BUTTON */
.button-set {
  overflow: hidden;
  width: 100%;
  margin-bottom: 2.45rem;
  padding: 0 10px;
}
.button-set .col {
  float: left;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}
.button-set .col.fully {
  max-width: 100%;
}
.button-set .col.half {
  max-width: 50%;
}
.button-set .col .card {
  margin-bottom: 1rem;
}
.button-set .col .card .fa-arrow-circle-right::before {
  position: absolute;
  right: 1.25rem;
  top: 50%;
  color: #8998db;
  font-size: 2.7rem;
  font-weight: normal;
  transform: translate(0,-50%);
  -webkit-ransform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
}
.button-set .col .card .card-body {
  padding-bottom: 4.2rem;
  color: #717171;
  font-size: 1.2rem;
  font-weight: 400;
}
.button-set .col .card .card-body .icon {
  position: absolute;
  left: 1.25rem;
  bottom: 1rem;
  color: #8998db;
  font-size: 1.7rem;
  font-weight: normal;
}
.button-set .col .card .card-body .fa-history {font-size: 2.2rem;}
.button-set .col .card .card-body .fa-sliders-h,
.button-set .col .card .card-body .fa-pie-chart {font-size: 2rem;}

.button-set .col .card.type-2 .fa-arrow-circle-right::before,
.button-set .col .card.type-2 .card-body .t2 {
  color: #89c5db;
}

.button-set .col .card:hover {
  background-color: #8998db;
}
.button-set .col .card.type-2:hover {
  background-color: #89c5db;
}
.button-set .col .card:hover span,
.button-set .col .card:hover .fa-arrow-circle-right::before,
.button-set .col .card:hover .card-body .icon {
  color: #fff;
}

/* TABLE */
.tb-tpl {}
.tb-tpl .table {}
.tb-tpl .table th,
.tb-tpl .table td {
  padding: 10px 5px !important;
  font-size: 1.25rem;
  text-align: center;
  vertical-align: middle;
}
.tb-tpl .table thead th {
  background-color: #fafafa;
  color: #1e1e1e;
  letter-spacing: -0.02rem;
  font-weight: 500;
}
.tb-tpl .table tbody th,
.tb-tpl .table tbody td {
  color: #828282;
  font-weight: normal;
}

@media (max-width:1650px) {
  .button-set .col .card .card-body {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 4.1rem;
    font-size: 1rem;
  }
}
@media (max-width:991px) {
  .button-set .col .card .card-body {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    font-size: 1.2rem;
  }
}
/* E : 허준범 추가 */
