@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url('http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot');
  src: url('http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
       url('http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff2') format('woff2'),
       url('http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff') format('woff'),
       url('http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.ttf') format('truetype');
}

@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,input,select,textarea,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	padding:0px;
	margin:0px;
	vertical-align:middle;
	box-sizing:border-box;
}
html {}
html.fix{}
html, body {height: 100%}
body {
	background-color: #fff;
	font-family: 'Nanum Gothic','Open Sans', sans-serif;
	color:#000;
  font-size: 14px;
	text-align:center;
	letter-spacing:normal;
	-webkit-overflow-scrolling:touch;
	-webkit-font-smoothing:antialiased;
}

strong {font-weight: 500;}
ul, ol {list-style-type:none}
h1,h2,h3,h4,h5,h6{font-size:1em;font-weight:normal}
table{border-collapse:collapse;border-spacing:0}
img,fieldset{border:0;outline:none}
img {max-width:100%;}
label {cursor:pointer}
i, em, address {font-style:normal}
button {margin: 0;padding:0;background:none;outline: 0;
	font-family:'Open Sans',sans-serif;cursor:pointer;
	border: none;
	font: inherit;
}

/* COMMON */
.clfix::after,
.clfix::before {
  content: '';
  display: table;
}
.clfix::after {
  clear: both;
}

/* LAYOUT */
#wrapper {width: 100%;}
#wrapper #container {
  overflow: hidden;
  position: relative;
  width: 1000px;
  margin: 0 auto;
}
#wrapper #container .content {
  width: 1020px;
}
#wrapper #container .content .section {
  float: left;
  width: 50%;
  min-height: 300px;
  margin-bottom: 40px;
  padding-right: 20px;
}

/* TITLE */
h3 {
  margin-bottom: 25px;
  color: #266184;
  font-size: 20px;
  letter-spacing: -0.085em;
  font-family: 'NanumSquare';
  font-weight: 800;
  text-align: left;
}

/* TABLE */
.tb-tpl {}
.tb-tpl .table {
  width: 100%;
  border-collapse: collapse;
}
.tb-tpl .table th,
.tb-tpl .table td {
  padding: 20px 5px;
  border: 1px solid #eceeef;
  text-align: center;
  vertical-align: middle;
}
.tb-tpl .table thead th {
  background-color: #fafafa;
  color: #1e1e1e;
  letter-spacing: -0.02rem;
  font-weight: 500;
}
.tb-tpl .table tbody th,
.tb-tpl .table tbody td {
  color: #828282;
  font-weight: normal;
}
