/*

* Override Pages default styles or create your own styles here

*/

html { 
    font-size: 11px; font-family: 'Nanum Gothic', 'sans-serif'; 
}
.normal * { font-weight: normal; }

/* PDF 다운로드 한글 깨짐 방지를 위해 @font-face 지정 */
@font-face {
    font-family: 'Nanum Gothic';
    src: url('/assets/font/NanumGothic.ttf') format('truetype');
}
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v4/NanumGothic-Regular.eot);
    src:
        url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v4/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
        url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v4/NanumGothic-Regular.woff2) format('woff2'),
        url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v4/NanumGothic-Regular.woff) format('woff'),
        url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v4/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 700;
    src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v4/NanumGothic-Bold.eot);
    src:
        url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v4/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
        url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v4/NanumGothic-Bold.woff2) format('woff2'),
        url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v4/NanumGothic-Bold.woff) format('woff'),
        url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v4/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 800;
    src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v4/NanumGothic-ExtraBold.eot);
    src:
        url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v4/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
        url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v4/NanumGothic-ExtraBold.woff2) format('woff2'),
        url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v4/NanumGothic-ExtraBold.woff) format('woff'),
        url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v4/NanumGothic-ExtraBold.ttf) format('truetype'); 
}

.page-container {
    background-color: white;
}
.page-content-wrapper {
    padding-bottom: 2px;
}

/* .k-grid th.k-header {
    height: 30px;
    font-weight: bold;
    font-size: 1.2em;
    color: black;
    background-color: #eaeaea;
} */
/* .k-grid td[role=gridcell] input[type=checkbox] {
    width: 17px;
    height: 17px;
    vertical-align: middle;
} */

/* #MAIN-CONTENT { margin-bottom: -1px; }
@media (min-width: 0px) { #MAIN-CONTENT { margin-bottom: 0px; } }
@media (min-width: 576px) { #MAIN-CONTENT { margin-bottom: 0px; } }
@media (min-width: 768px) { #MAIN-CONTENT { margin-bottom: 0px; } }
@media (min-width: 992px) { #MAIN-CONTENT { margin-bottom: 0px; } }
@media (min-width: 1200px) { #MAIN-CONTENT { margin-bottom: 0px; } } */

.page-container .page-content-wrapper .content {
    padding-bottom: 0px;
}
.nav-tabs ~ .tab-content {
    padding: 0 0 15px 0 !important;
    margin-top: -1px;
}
/* .content {
    background-color: white;
} */

.page-sidebar .sidebar-header {
    background-color: #45555f !important;
    border-bottom-color: #bcbdc0 !important;
}
.page-sidebar .sidebar-header > img {
    width: 140px;
}

.page-sidebar .sidebar-menu .menu-items > li > a {
    color: #bcbdc0;
}
.page-sidebar .sidebar-menu .menu-items {
    background-color: #45555f;
}

.page-sidebar .sidebar-menu .menu-items > li ul.sub-menu {
    background-color: #55656f !important
}
.page-sidebar .sidebar-menu .menu-items > li ul.sub-menu > li.active ul.sub-menu {
    border-left: 1px white solid;
    margin: 8px 0 10px 0;
    padding: 5px 0 0 0;
}

.page-sidebar a, .page-sidebar button {
    color: #bcbdc0 !important;
}
.page-sidebar a:visited, .page-sidebar button:visited, .page-sidebar a:focus, .page-sidebar button:focus {
    color: #bcbdc0 !important;
}
.page-sidebar .sidebar-menu .menu-items li:hover > a, .page-sidebar .sidebar-menu .menu-items li.open > a, .page-sidebar .sidebar-menu .menu-items li.active > a {
    color: #fff !important;
}

.icon-thumbnail {
    /* background-color: white !important; */
}




/* KendoUI - Button CSS */
.k-button:not(.k-primary) {
/* .k-button.k-outline { */
    border-color: currentColor;
    color: #656565;
    background: none;
    box-shadow: none;
}
.k-button:not(.k-primary):hover {
/* .k-button.k-outline:hover { */
    border-color:#656565;color:#fff;
    background-color:#656565;
    background-image:none;
}
.k-gantt-actions .k-button {
    color: #ffffff;
}

/* KendoUI - Search Aera CSS */
/* #search_area .k-button {
    margin-top: -1px !important;
    padding: 2px 15px !important;
    margin-left: 18px !important;
    height: 75%;
    min-height: 30px;
} */
/* .k-checkbox-label, .k-radio-label {
    vertical-align: -webkit-baseline-middle;
    vertical-align: baseline;
    margin-left: 10px;
} */
.k-numeric-wrap:disabled, .k-textbox:disabled {
    background-color: #eee;
}
.k-numeric-wrap:disabled:hover, .k-textbox:disabled:hover {
    background-color: #eee;
    cursor: no-drop;
}
.k-autocomplete, .k-dropdown-wrap, .k-multiselect-wrap, .k-numeric-wrap, .k-picker-wrap, .k-textbox {
    border-width: 0px;
    border-style: solid;
}
/* KendoUI - Input Box CSS */
.k-numeric-wrap, .k-grouping-header, .k-group-footer td, .k-grouping-row td, .k-header, .k-pager-wrap, .k-pager-wrap .k-link, .k-pager-wrap .k-textbox, .k-dropdowntree, .k-maskedtextbox, .k-dateinput {
    border-color: #e6e6e6;
    border-width: 1px;
}
.k-widget.k-datepicker.k-header {
    width: 115px;
    height: 28px;
}
.k-widget.k-dropdown.k-header {
    /* min-width: 120px; */
    width: 120px;
    height: 27px;
}
.k-grid .k-widget.k-dropdown.k-header {
    width: 100%;
    height: 100%;
}
.k-filtercell .k-widget.k-dropdown.k-header {
    width: 2em;
    right: 0em;
    height: 2em;
}
.k-filtercell>span {
    padding-right: 2.5em;
}
/* Grid CSS */
.k-grid {
    font-size: 11px;
    font-family: 'Nanum Gothic';
}
.k-grid-header th.k-header {
    text-align: center;
    vertical-align: middle;
}
/*
.k-grid-header, .k-grid-header .k-header, .km-pane-wrapper .k-grid-header .k-header {
    background-color: #3f51b5;
}
.k-grid-header .k-header, .k-grid-header .k-header .k-link, .k-grid-header .k-link, .k-grid-header .k-link:link, .k-pager-info, .k-scheduler-agendaview .k-scheduler-datecolumn, .k-scheduler-header {
    color: white;
}
.k-grid-content td.text-left, .k-grid-content td.text-right {
    padding-left: 2em;
    padding-right: 2em;
} */
.k-grid td[role=gridcell] {
    border-width: 0 0 1px 1px;
    line-height: 24px;
}
.k-grid td[role=gridcell] a:not(.k-button) {
    text-decoration: underline;
}
.k-gantt .k-grid td[role=gridcell] {
    border-width: 0 0 1px 1px;
    /* line-height: 16px; */
    line-height: 16.5px;
}
.gridTitle > h1 {
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: 700; */
    color: white;
    font-size: 1.5em;
    margin: 3px 0 0px 10px;
    height: 25px;
    line-height: normal;
    text-align: left;
}
/* .k-grid table > thead th > label,
.k-grid table > tbody td > label {
    vertical-align: top;
    margin-top: 2px;
} */
.k-header.k-grid-toolbar {
    text-align: right;
}
.k-grid .k-header .k-button {
    border-color: rgba(255,255,255,0.6);
    margin: 0 0.3em;
}
.k-grid input.k-checkbox+label.k-checkbox-label {
    cursor: pointer;
}
.k-grid td hr {
    margin: 3px 0;
    border-style: dashed;
}
.k-grid .k-detail-cell, .k-grid .k-detail-cell .k-alt {
    background-color: #eee;
    padding: 0 10px 10px 10px;
}
.k-dirty {
    opacity: 0;
}


/* Gantt Chart CSS */
.k-reset.k-header.k-gantt-views{
    float: left;
}
.k-gantt-actions {
    float: right;
}

/* Dialog */
.k-window.k-dialog .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button {
    padding: 7px 15px;
    border-color: #aeaeae;

}
.k-window.k-dialog .k-window-titlebar.k-dialog-titlebar.k-header{
    border-bottom: 1px solid #aaa;
}
.k-window.k-dialog .k-content.k-window-content.k-dialog-content{
    font-size: 15px;
}

/* 탭 폰트 및 사이즈 조정 */
.nav-tabs > li > a {
    font-size: 13px;
    padding: 11px 20px;
}


/* 2CH site Custom CSS */
.aiv_search_item {
    margin:0px;
    float:left;
    border-width: 1px;
    border-style: solid;
    border-color: #c2c2c2;
    padding:2px 2px;
    margin:4px 0px;
}
.aiv_search_input_wrap {
    display: inline-block;
    margin: 1px 6px 0.5rem 25px;
    vertical-align: top;
}
.aiv_search_input_wrap:first-child {
    margin-left: 0px;
}
.aiv_search_item div {
    float:left;
}
.aiv_search_title {
    margin: 0px 6px 0px 0px;
    padding: 5px 15px;
    vertical-align: top;
    /* border-radius: 4px; */
    font-size: 13px;
    font-family: 'Nanum Gothic';
    font-weight: bold;
    /* background-color: rgb(68, 74, 88); */
    background-color: #45555f;
    color:#ffffff;
    /* float: left; */
    display: inline-block;
    /* height: 18px; */
    /* line-height: 18px; */
}
.aiv_search_title_info {
    float: right;
    font-size: 11px;
    margin: 0px 0px 0px 4px;
    padding: 2px 9px;
    font-weight: bold;
    color: white;
    display: inline-block;
    font-family: 'Nanum Gothic';
}
/* .aiv_search_title {
    margin: 2px 2px;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
    font-size: 13px;
    font-family: 'Nanum Gothic';
    font-weight: bold;
    background-color: rgb(68, 74, 88);
    color:#ffffff;
    float:left;
    display: inline-block;
} */
.aiv_search_content {
    padding-top: 1px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-left: 5px;
    float:left;
}
.k-primary {
    color: #fff;
    border-color: #3f51b5;
    background-position: 50% 50%;
    background-color: #3f51b5;
}
.k-button.aiv_btn_1x {
    padding: 2px 20px;
}
.k-button.aiv_btn_2x {
    /* min-height: 70px; */
    /* padding: 2px 20px; */
    padding: 20px 20px;
}
.aiv_search_area {
    /* width: 100%; */
    padding-bottom: 0.7rem!important;
    margin-bottom: 1.5rem!important;
    border-bottom: 1px solid #dddddd;
    
    border-top: 1px solid #dddddd;
    padding-top: 1.5rem!important;
}
.aiv_search_area input.k-checkbox+label.k-checkbox-label {
    margin: 8px 0 0 8px;
}
.aiv_search_area {
    visibility: hidden;
}
.aiv_search_area.only_btn {
    padding-top: 0.7rem!important;
}

/* 메인페이지 타이틀/경로 */
.aiv_main_page{
    display: inline-block;
    width:100%;
    padding:15px 4px 5px 15px;
}
.aiv_main_page > div {
    float: left;
}
.aiv_main_page .aiv_page_title {
    width:100%; padding:7px 0px;
}
.aiv_main_page .aiv_main_bullet {
    width:5px; background-color: #62549a; margin-right:4px;   
}
.aiv_main_page .aiv_main_path {
    padding:0px 15px; vertical-align:middle;
}
.aiv_main_page .aiv_main_path > .k-icon{
    /* margin-bottom: 3px; */
    margin-top: -3px;
}

/* 컨텐츠 타이틀 */
.aiv_contents_title {
    display: inline-block;
    width:100%;
}
.aiv_contents_title > div {
    float: left;
}
.aiv_contents_title .aiv_contents_bullet {
    width: 5px;
    height: 6px;
    background-color: #3f51b5;
    margin-right: 4px;
    margin-top: 8px;
}
.aiv_contents_title .aiv_contents_text {
    padding-top: 1px;
    color: #3f51b5;
    font-size: 15px !important;
    font-weight: bold !important;
}


.editable-cell {
    position: relative;
    cursor:pointer;
}
.editable-cell::before {
    /* content: '<div style="border-top: solid 10px red;border-right:10px transparent;">' */
    content: ' ';
    position: absolute;
    top: 0px;
    left: 0px;
    border-top: 7px solid #9ab0ff;
    border-right: 7px solid transparent;
}


/* .k-widget.k-tooltip.k-tooltip-validation.k-invalid-msg { */
    /* position: fixed; */
/* } */
span.k-widget.k-tooltip-validation {
    display: inline-block;
    text-align: left;
    /* width: 160px; */
    border: 0;
    padding: 0;
    margin: 0;
    background: none;
    box-shadow: none;
    color: red;
}

/* .k-tooltip:not(.k-tooltip-closable) {
    font-size: 14px;
}
.k-tooltip-validation {
    border-color: transparent;
    color: #f31700;
    background-color: transparent;
}

.k-tooltip-validation {
    margin: .5em 0 0;
    position: static;
    border-width: 0;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
}
.k-tooltip {
    color: #fff;
    background-color: #ff6358;
} */

/* .k-tooltip-validation .k-warning {
    display: none;
} */
/* .k-invalid-msg { */
    /* z-index: 999999; */
/* } */

/* #search_area {
    display:none;
} */


/* AIV_FORMS CSS */
.aiv_form_area {
  margin: 0px 20px;
}
.aiv_form_area .aiv_form_label {
  /* background-color: #e2e2e2; */
  background-color: #45555f;
  color: white;
  text-align: center;
  vertical-align: middle;
  /* vertical-align: top; */
  padding: 10px 10px 10px;
}
.aiv_form_area .table-bordered td {
  border: 1px solid #868686 !important;
}

.k-widget.k-upload .k-button.k-upload-button { margin: 0; }
.aiv_form_bottom { margin: 1rem 0 0.5rem 0 !important; text-align: center; }
.aiv_form_bottom .k-button { margin: 0 0.5rem !important; padding: 5px 15px;}







.aiv_uploaded_file {
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px dashed #ddd;
    display: none;
}
.aiv_uploaded_file_read {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    border-bottom: 0px  !important;
}

.table tbody tr td {
    padding: 10px 20px;
}

.k-input.k-textbox.k-invalid, .k-input.k-textbox.k-state-invalid, .k-input.k-textbox.ng-invalid.ng-dirty, .k-input.k-textbox.ng-invalid.ng-touched, .k-textarea.k-invalid, .k-textarea.k-state-invalid, .k-textarea.ng-invalid.ng-dirty, .k-textarea.ng-invalid.ng-touched, .k-textbox.k-invalid, .k-textbox.k-state-invalid, .k-textbox.ng-invalid.ng-dirty, .k-textbox.ng-invalid.ng-touched {
    color: #f31700;
    border: 1px solid rgba(243,23,0,.5);
}



/* TREE VIEW */
#treeview .k-sprite {
    background-image: url(../images/treeview/coloricons-sprite.png);
}
#treeview .k-sprite.rootfolder { background-position: 0 0; }
#treeview .k-sprite.folder { background-position: 0 -16px; }
#treeview .k-sprite.pdf { background-position: 0 -32px; }
#treeview .k-sprite.html { background-position: 0 -48px; }
#treeview .k-sprite.image { background-position: 0 -64px; }